:host {
  display: flex;
  flex: 1;
}
h1 {
  color: #FFE81F;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}

.content {
  display: flex;
  flex: 1;
  .list {
    flex: 2;
  }

  .detail {
    flex: 7;
    padding: 12px 0 0 12px;
    border-left: 1px solid #494949;
    overflow-y: auto;
  }
}
